body{
    top: 0px;
    background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2401x1600/0a79c62b304e19dc1af45b8b77f54594/photo-1652110770901-e4a4f279951c.jpg');
    background-size:cover;
    position: fixed;
    font-family:Helvetica,sans-serif;
    font-size: 16px;
   
}

ul{
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}
img.logo{   

    padding: 2px;
    float: left;
    width:90px;
    height:16px;  
}

img{
    float:right;
    height: 32px;
    width: 32px;
}

li{
    float: left;
    font-size: 16px;
    font-family:Helvetica,sans-serif;
    display: block;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}


.search-container{
    width:100%;
    margin-bottom: 10px;
}

.search {
    display: flex;
    float: right;
    color:white;
    background-color:  rgba(255, 255, 255, 0.3);
    box-shadow: none;
    box-sizing: border-box;
    margin-right: 60px;
   
    font-size: 17px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    height: 32px;
    line-height: 32px;
    margin: 0 4px 0 0;
   
    width: 100%;
    padding: 10px;
    text-align: center;
   
  }

  ::placeholder{color:white;
   
}


.search-container i {
    position: absolute;
    left:74%;
    bottom: 84%;
    background-color: inherit;
    color: grey;
}

.icon {
    left:65%
}
 

.select{
    color: white;
    font-size: 16px;
    border: none;
    background-color:inherit;
}

button{
    border-radius: 3px;
    border: 0;
    color:white;
    font-size: 16px;
    text-decoration: none;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    display: flex;
   
    height: 32px;
    line-height: 32px;
    margin: 0 4px 0 0;
    /* padding: 0; */
  
}
  
/* List Container Styles */

.list-container{
    width: 40%;
   
    left: 50%;
    
    border-radius: 10px;
    min-width: 450px;
    
    min-height: 100px;
    
}

#addNew {
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebecf0;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border:2px solid powderblue;
  }

  .fa-plus {
    background-color: #ebecf0;
    padding: 3px;
    border-radius: 3px;
  }

  #msg {
    color: red;
  }


  #tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
  }
  
  #tasks div {
    border: 1px solid grey;
    background-color:#ebecf0;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
  }


  #tasks div .options {
    justify-self: right;
    display: flex;
    gap: 20px;
  }
  
  #tasks div .options i {
    cursor: pointer;
  }

  .modal {
    display: none; 
    position: fixed; 
    /* z-index: 1;  */
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-body {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }